
.accordion-main {
    width: 90%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
.default {
    background-color: rgb(137, 185, 185);
}
.active {
    background-color: brown;
}
.content {
    width: 90%;
}