body{
  overflow-x: hidden;
  overflow-y: hidden;
}
.menu {
  padding: 2vw;
  display: flex;
  justify-content: space-around;
  background: #ac4c8c;
  align-items: center;
}
.line-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 30px  ;
}
.line {
  width: 60%;
  background: #ac4c8c;
  height: 6px;
  border-radius: 10px;
}
.circle-menu {
  background: white;
  border-radius: 50%;
  width:120px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menuItem {
  text-decoration: none;
  font-size: 2vw;
  color: white;
  font-family: "Montserrat", sans-serif;
}
.frontInfo {
  display: flex;
  justify-content: first baseline;
}
.firstTab {
  display: flex;
  justify-content: space-between;
}
.firstTabReverse {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.tab {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  position: relative;
}
.tab-mar {
  margin-left: 2.5vw;
}
.container-two-practice{
  position: relative;
  z-index: 1;
}
.tab-two {
  position: absolute;
  bottom: inherit;
  left: 0;
  padding-right: 5%;
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
}
.tab-two-text {
  display: flex;
  flex-direction: column;
  align-items: end;
  background-color: rgb(255,255,255, 0.3);
  padding: 20px 30px 30px 0px;
  width: 80%;
}
.mainText {
  font-size: 3.1vw;
  font-weight: bolder;
  text-align: end;
  width: 70%;
  font-family: "Montserrat", sans-serif;
}
.mainText-small {
  font-size: 1.5vw;
  font-weight: bold;
  text-align: right;
  font-family: "Montserrat", sans-serif;
}
.mainText-add {
  font-size: 1.2vw;
  font-weight: bold;
  text-align: right;
  font-family: "Montserrat", sans-serif;
}
.mainText-add-reverse {
  font-size: 1.2vw;
  font-weight: bold;
  text-align: left;
  font-family: "Montserrat", sans-serif
}
.btn-contact {
  width: 30vw;
  border: #ac4c8c 6px solid;
  padding: 52px;
  font-size: 2vw;
  background-color: transparent;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: bolder;
  /* margin-top: 20px;  */
 
  z-index: 2;
  
  transition: 1.2s;
}
.front-contact {
  right: 10%;
  bottom: -30%;
  position: absolute;
}

.btn-contact:hover {
  transition: 1.2s;
  background-color: #ac4c8c;
  color: white;
  z-index: 2;
}
.center {
  display: flex;
  justify-content: center;
  text-decoration: none;
  z-index: 3;
}
.image {
  width: 100%;
}
.videoToPlay {
  width: 100%;
  height: auto;
}
.mainPagePositioning {
  padding: 20px;
  background-color: #d2cfcf;
  z-index: -5;
}

/*form contact*/
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0px;
  background-color: #d2cfcf;
  height: fit-content;
}
.form-inner {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 20px;
}
.inner {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
  height: fit-content
}
.form-actual{
  display: flex;
  flex-direction: column;
  width: 80%;
  font-size: 1.5vw;
  font-family: "Montserrat", sans-serif;
}
.form-position {
  display: flex;
  justify-content: flex-start;
  margin-top: 30px;
}
.form-button {
  justify-content: center;
}
.form-image {
  width: 40vw
}
.form-text {
  text-align: center;
  width: 80%;
}
.form-text-des {
  margin-top: 20px;
  font-size: 2.8vw;
  font-weight: bolder;
  color: black;
  font-family: "Montserrat", sans-serif;
}
input{
  width: 80%;
  padding: 5px;
}
textarea{
  width: 100%;
  padding: 5px;
}


/*last piece*/
.bar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.datepicker-form {
  display: flex;
  flex-direction: column;
  flex:1;
  align-items: center;
  justify-content:center ;
}
.datepicker-form p {
  font-family: "Montserrat", sans-serif;
  font-size: 1.4vw;
  font-weight: bolder;
  margin-left: 20px;
}
.datepicker-width {
  margin-top: 1.5vh;
  width: 25vw;
  padding: 1.5vw;
  border: #ac4c8c 3px solid;
}
.btn-calc-submit {
  width: 25vw;
  padding: 1.5vw;
  margin-top: 3vh;
  /* border-radius: 30px; */
  border: #ac4c8c 3px solid;
  transition: 1.2s;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: 1.8vw;
  font-weight: bolder;
}
.btn-calc-submit:hover {
  transition: 1.2s;
  background-color: #ac4c8c;
  color: white;
  z-index: 2;
}

@media all and (max-width: 1100px) {
  .btn-contact {
    padding: 35px;
  }

}

@media all and (max-width: 800px) {
  .btn-contact {
    padding: 30px;
    bottom: -20%;
  }
}
@media all and (max-width: 500px) {
  .btn-contact {
    padding: 15px;
    border: #ac4c8c 3px solid;
  }
  .front-contact{
    bottom: -8%;
  }
  .line {
    height: 3px;
}
.circle-menu {
 width: 70px;
 height: 70px;
}
.circle-menu img {
  width: 50px;
}
}
@media all and (max-width: 400px) {
  .firstTab, .firstTabReverse, .bar-container, .form-inner {
    flex-direction: column;
  }
  .mainText-add, .mainText-add-reverse, .datepicker-form p {
    text-align: center;
    margin-top: 20px;
  }
  .form-image {
    width: 90vw;
  }
}